*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    /* background-color: chocolate; */
}

.container{
    width:100%;
   }

   .header{
    width: 100%;
   }

   .nav{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
     padding: 20px 10%;
     align-items: center;
   }

   .nav .nav-logo{
width: 100px;
   }

   .nav nav a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin: 0 25px;
    transition: color .5s;
   }

   .nav nav a:hover{
    color: #fe8b38;
   }

   .header header{
     width: 100%;
    height: 43vw;
    background-color: blueviolet;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .header header .header-layer{
background-color: rgba(0,0,0,0.4);
width: 100%;
height: 100%;
display:flex;
justify-content: space-between;
align-items: center;
padding: 0 7%;
grid-gap: 0 30px;
   }

   .header-left{
    color: white;
    display:inline;
   }

   .header-left h4{
    font-weight: normal;
    font-size: 40px;
    margin: 20px 0;
   }

   .header-left .header-line{
    width: 70px;
    height: 2px;
    background-color: white;
    display: block;
   }

   .header-left p{
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    color: lightgray;
    line-height: 20px;
    margin: 30px 0;
    
   }
.header-left .download-button{
    background:transparent;
    color: white;
    border: 2px solid white;
    padding: 7px 18px;
    font-size: 18px;
}
   
.header-right {
    width: 100%;   
}

.header-right form{
    background-color: white;
    width: 350px;
   margin: 0 auto;
   border-radius: 10px;
   
}

.header-right form h1{
    font-size: 18px;
    text-align-last: center ;
    background-color: #f5f5f5;
    color: #474747;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    padding: 10px 0;
}

.header-right form h1 span{
    color: #fe8b38;

}

.header-right form input{
    display: block;
    margin: 30px auto;
    width: 70%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    outline: none;
    color: gray; 

}
.header-right form input::placeholder{
    color: lightgray;
}

.header-right form a{
    display: block;
    background-color:#fe8b38 ;
    text-decoration: none;
   text-align: center;
    margin: 30px auto;
    width: 100%;
    padding: 10px 0;
    color: white;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;

}

/* social media header */

.social-media{
    width: 100%;  
    padding: 20px 7%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}


.social-left h4{
    font-size: 18px;
  }

.social-left p{
    font-size: 15px;
    color: gray;
}

.social-right .icons a{

    color: lightgray;
    font-size: 40px;
    margin: 0 20px;
} 

/* Featured Section */
/* Feature 01 */
.feature-1{
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 20% 50% 30%;
   padding: 100px 7%;
   align-items: center;
   grid-gap: 0 3px;
}
.tabs-area .tab {
    background-color: #fe8b38;
    width: 90px;
    height:90px;
    margin: 5px 0;
    text-align-last: center;
    line-height: 90px;
    font-weight: bold;
    color: white;
}

/* Code added by Me */

.text-area .tabs-download{
    background-color: #fe8b38;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 30px 0;
}

/* Feature 02 */
.feature-2{
    background-color: white;
    display: grid;
    grid-template-columns:50% 50%;
   padding: 100px 7%;
   align-items: center;
   grid-gap: 0 3px;
}

.feature-2 .sub-list h4{
    font-size: 15px;
}

.feature-2 .sub-list p{
    font-size: 15px;
    color: gray;
    padding-top: 15px;
}

.feature-2 .sub-list .sub-line{
    width: 50px;
    height: 2px;
    background-color:#fe8b38;
    display: block;
}

.title-list{
   
}